
      <div>
        <div class="row">
          <div class="large-12 columns">
            <h1>Converter</h1>
          </div>
          
          <div class="large-12 columns">
            <form id="converter-form" name="converterform" ng-submit="onSubmitted()" novalidate>
              <div class="row">
                <div class="small-4 columns">
                  <label for="converterFile">Files to convert</label>
                </div>
                <div class="small-8 columns">
                  <input id="converter-file" type="file" multiple>
                </div>
                <div class="small-4 columns">
                  <label for="convertFileFormat">Target file format</label>
                </div>
                <div class="small-8 columns">
                  <select ng-model="fileFormat" name="convertFileFormat">
                    <option value="xml">XML</option>
                    <option value="json">JSON</option>
                  </select>
                </div>
                <div class="small-12 columns">
                  <button type="submit" class="medium radius button">Convert</button>
                </div>
              </div>
            </form>


          </div>
        </div>
